 body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
    /* sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
body {
  /* font-family: "Open Sans", sans-serif; */
  color: #444444;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #6959d1;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: "Raleway", sans-serif; */
} 
.form-control{
  text-align: right;
  direction: rtl;
}